
:host{
    width: 100%;
  }
.btnchangelocation{
    width:150px;
    padding:1px,1px,1px,1px;
    background-color: orangered;
    border: 0;
    color:white;
    font-weight: bold;
    float: right;
  }
  
  .btnslider{
    width:100px;
    padding:4px,4px,2px,2px;
    text-align: center;
    height:40px;
    background-color: orangered;
    border: 0;
    color:white;
    font-weight: bold;
    position: absolute;
    bottom:15px;
    left:0;
    right:0;
    margin: auto;
  
  }
  
